
  <div class="registerpage">

    <div class="register">
        <div class="nickName">
          <label class="nickname-label">NickName</label>
          <input id="nickname-field" [(ngModel)]="nickName" type="text" value required="required">
        </div>
        <div class="password">
          <label class="password-label">Password</label>
          <input id="password-field" [(ngModel)]="password" required="required" type="password">
        </div>
        <div class="confPassword">
          <label class="confpassword-label">Confirm Password</label>
          <input id="conf-password-field" [(ngModel)]="confPassword" required="required" type="password">
        </div>
        <p class="errorMesg" (ngModel)="errorMsg">
          {{ errorMsg }}
        </p>
        <p class="required-fields">
          *Required fields
        </p>
        
        <button id="sign-up-button" class="sign-up-button" title="Sign up"
          (click)="onSigningUp()">
          <span class="label">Sign up</span>
          <span class="spinner"></span>
        </button>
    </div>
  </div>

