.dialogpage {
    background: rgb(235, 235, 235);
    box-shadow: 0px 0px 40px 0px
    rgba(0,0,0,0.1);
    margin: 15%;
    padding: 3%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    height: 85%;
    width: 90%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.column {
    float: left;
    position: relative;
}

div.row {
    /* display: block; */
    position: relative;
    height: 100%;
    width: 100%;
}

div.left {
    width: 50%;
    height: 10%;
}

div.right {
    width: 50%;
    height: 10%;
}

/* div.upleft {
    height: 10%;
}

div.upright {
    height: 10%;
} */

/* left navbar */
.left-left-column {
    position: relative;
    width: 90%;
    /* margin-right: 100%; */
}

.left-right-column {
    position: relative;
    width: 10%; 
}
/* end left navbar */


/* right navbar */
.right-left-column {
    position: relative;
    width: 85%;
}

/* .right-middle-column {
    position: relative;
    width: 15%;
} */

.right-right-column {
    position: relative;
    width: 15%;
}
/* end right navbar */

.menuButton {
    position: relative;
    float: left;
    width: 10%;
    height: 70%;
    color: rgb(41, 79, 87);
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 120%;
    margin-top: 2%;
}

.findButton {
    position: relative;
    float: right;
    margin-right: 30%;
    width: 10%;
    height: 70%;
    color: rgb(41, 79, 87);
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 200%;
}

.backButton {
    position: relative;
    float: left;
    margin-right: 30%;
    width: 10%;
    height: 70%;
    color: rgb(41, 79, 87);
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 170%;
}

.propertiesButton {
    position: relative;
    float: right;
    margin-right: 30%;
    width: 10%;
    height: 70%;
    color: rgb(41, 79, 87);
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 200%;
}

